@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/********************************************* General */

body {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-color-blue {
    background-color: #444a9f;
}

.bg-color-purple {
    background-color: #9c85db;
}

.heading-font {
    font-family: Playfair Display;
    font-weight: 800;
}

.standard-font {
    font-family: Work Sans;
}

/********************************************* Header */

.logo-img {
    background: url('../images/EA-White-Master-Logo-v2-200px.png');
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100px;
    height: 100px;
    width: auto;
    left: 30px;
    margin-bottom: 10px;
}

.bg-img {
    border-top: 3px solid white;
    background: url('../images/bg-img-v1.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 47vh;
    margin: 0;
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, #ffffff00 20%, #444a9f 100%);
}

.welcome-section {
    padding: 0;
}

.welcome-name {
    color: white;
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 75px;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 1);
}

.search-textbox {
    margin: 20px 0 20px 0;
    padding: 10px 150px;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: 100px;
    font-family: Work Sans;
    font-size: 20px;
}

/********************************************* Main Section */

.carousel-inner {
    padding: 0 100px 0 350px;
}

.carousel-item {
    position: relative;
    width: 300px;
    height: 200px;
    justify-content: center;
    text-align: center;
}

.carousel-indicators {
    position: absolute;
    top: 150px;
    height: 150px;
}

.company-updates {
    height: 200px;
    width: 100%;
    background-color: #9c85db;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.company-updates h2 {
    position: absolute;
    top: 60px;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

/* .company-updates, */
.travel,
.client,
.finance,
.personal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #9c85db;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.quick-link-section {
    position: relative;
    margin-top: 15px;
    margin-left: 40px;
}

.quick-links-heading {
    background-color: #9c85db;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
}

.quick-links-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 630px;
    width: 100%;
    border: 5px solid #9c85db;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
}

.travel h2,
.client h2,
.finance h2,
.personal h2,
.quick-links-heading h2 {
    color: white;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.quick-links-border p {
    position: absolute;
    top: 40%;
    color: #9c85db;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.quick-links-heading h2 {
    position: absolute;
    top: 27px;
    left: 40px;
}

.bottom-border {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 5px solid #9c85db;
    width: 97%;
    /* Example: Adjust this percentage to control the width */
    margin-left: auto;
    margin-right: auto;
}

.social-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: white;
    border: 5px solid #9c85db;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.social-posts h3,
.cal-meet-wig h3,
.time-tastic h3,
.comp-directory h3,
.external-links h3 {
    color: #9c85db;
}

.shoutout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80%;
    background-color: white;
    border: 5px solid #9c85db;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 65px;
}

.shoutout h3 {
    color: #9c85db;
}

.cal-meet-wig,
.time-tastic,
.comp-directory,
.external-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 80%;
    background-color: white;
    border: 5px solid #9c85db;
    -o-border-radius: 50px 0 50px 0;
    -webkit-border-radius: 50px 0 50px 0;
    -moz-border-radius: 50px 0 50px 0;
    -ms-border-radius: 50px 0 50px 0;
    border-radius: 50px 0 50px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 65px;
}

.cal-meet-wig h3 {
    justify-content: center;
    text-align: center;
}